.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #363636;
  border-bottom: 2px solid $menuBg;
  color: #333;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 60px;
  line-height: 1;
  padding: 0 10px;
  white-space: nowrap;
}

.header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  font-weight: 400;
  flex: 1;
  color: #cccccc;
  text-align: center;
}

.header-userImg {
  margin: 0 3px 0 10px;
  padding: 2px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.header-button {
  display: flex;
  align-items: center;
}

.header-button>.header-item {
  margin-left: 30px;
}

.el-badge__content.is-fixed {
  height: 10px;
  line-height: 10px;
  width: 15px;
  padding: 0 6px 0 3px;
  background-color: #b20000;
  border: 0px;
}

